apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: main-rules-alert-config
  namespace: monitoring
spec:
  route:
    receiver: email
    repeatInterval: 30m
    routes:
      - matchers:
          - name: alertname
            value: HostHighCpuLoad
        receiver: email

      - matchers:
          - name: alertname
            value: KubernetesPodCrashLooping
        receiver: email
        repeatInterval: 10m

  receivers:
    - name: email
      emailConfigs:
        - to: hamdisyassine57@gmail.com
          from: hamdisyassine57@gmail.com
          smarthost: smtp.gmail.com:587
          authUsername: hamdisyassine57@gmail.com
          authIdentity: hamdisyassine57@gmail.com
          authPassword:
            name: gmail-auth
            key: password
